.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 40%;
    margin: 0 auto;
}

.carousel-inner > .item > .carousel-caption > h3,
.carousel-inner > .item > .carousel-caption > p {
    color: yellow;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.top-10-name {
    text-align: center;
    color: #000000;
    margin: 0 auto;
    position: absolute;
    left: 20%;
    right: 20%;
}

#homepage {
    margin: 250px auto;
    text-align: center;
}

.btn-default:focus {
    outline: 0 none;
}

.btn-default:hover {
    background-color:#1a374c;
    color: #337ab7;
}

body {
    background-color: gray
}

.item {
    position: absolute;;
}

.sm2-inline-list {
    position:absolute;
    left:36%;
    bottom:13%;
}
